.multiselect_autocomplete {
  width: 400px;
  height: fit-content;
}
.options {
  max-height: 500px;
  overflow-y: scroll;
  border-radius: 12px;
  border: 1px #94a3b8 solid;
  width: 100%;
  margin-top: 12px;
  background-color: #f8fafc;
}
.option {
  display: flex;
  align-items: center;
  border-bottom: 1px #94a3b8 solid;
  cursor: pointer;
  padding: 8px;
}

/* input */
.input_container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px;
  border-radius: 12px;
  border: 1px #94a3b8 solid;
}
.input {
  display: inline-block;
  border: none;
  outline: none;
  padding: 0px;
  border-radius: 0px;
}

.selected_options {
  display: flex;
  flex-wrap: wrap;
  padding: 4px;
  gap: 4px;
  width: 100%;
}
