.options {
  max-height: 500px;
  overflow-y: scroll;
  border-radius: 12px;
  border: 1px #8e9bc4 solid;
  width: 400px;
  margin-top: 12px;
}
.option {
  border-bottom: 1px #8e9bc4 solid;
  cursor: pointer;
}
.input {
  padding: 8px;
  border-radius: 12px;
  border: 1px #8e9bc4 solid;
}
