.character_item {
  display: flex;
  padding: 8px;
}
.character_image {
  width: 40px;
  height: 40px;
}
.character_image > img {
  width: 100%;
  border-radius: 8px;
}
.character_infos {
  display: flex;
  flex-direction: column;
  padding: 0px 8px;
}
.character_name {
  font-size: 14px;
  text-align: start;
  color: #475569;
  flex: 1;
}
.character_episode {
  font-size: 12px;
  text-align: start;
  color: #67778d;
  flex: 1;
}
